spring:
  application:
    name: StudentService
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa    
    password: 
  jpa:
    hibernate:
      platform: org.hibernate.dialect.H2Dialect
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true 
    path: /h2-console
  profiles:
    active: dev


server:
    port : 8080









